main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.product-section{
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}
.card{
    max-width: 600px;
    display: flex;
    column-gap: 20px;
    padding: 10px;
    border: 1px solid #0c4a60;
}
.contents{
    line-height: 1.5;
}
.contents p{
    font-size: 20px;
    
}
.image img{
    height: 100px;
    max-width: 150px;
}
.remove-btn{
    background-color: red;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}
footer{
    margin-top: 40px;
}
/*##################### pay section#############*/
.total_amount{
    display: grid;
    justify-content: center;
}
table {
    background-color: #f0f8ff;
    border: 2px solid #0c4a60;
    border-collapse: collapse;
    }
td, th {
    padding: 4px 8px;
    text-align: center;
}
.total-no{
    color: #ef6c33;
}
.pay_btn{
    width: 290px !important;
    text-align: center;
    background-color: #ef6c33;
    border-radius: 7px;
    margin-top: 20px;
    justify-self: center;
    cursor: pointer;
    padding: 10px;
}
.pay_btn img{
    margin-top: 6px;
}
.pay img{
    width: 60px;
    height: 40px;
}
.pay span{
    position: relative;
    top: -14px;
    color: #82d046;
}
        

/*##################### for Other media #################*/

@media screen and (max-width: 1000px){
    .product-section{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 750px){
    .product-section{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 400px){
    main{
        flex-direction: column;
    }
}
